* {
  margin-left: 0px;
  padding-left: 0;
}

:root {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-size: cover;
}
#page {
  width: 1120px;
  box-sizing: border-box;
  background-color: white;
  padding: 80px auto;
  margin: 80px auto;
}

section ol li {
  margin-left: 15px;
  padding-left: 0;
  list-style-position: inside;
}

section + section + section {
  margin-top: 48px;
}

section h2 {
  margin-top: 20px;
}

h1 {
  font-size: 36px;
}

#destinoBusan {
  margin-top: 64px;
  margin-bottom: 64px;
}

#destinoBusan p {
  margin-top: 8px;
}

div span {
  margin-top: 30px;
  color: #e1624f;
  margin-left: 0;
}

/* .top {
  margin-left: 0;
} */

div h1 {
  margin-bottom: 40px;
}

.p1 {
  margin-left: 25px;
}

img {
  border-radius: 24px;
}

#busan {
  text-align: center;
  margin-top: 24px;
}

#templo {
  margin-top: 48px;
}

#rodape {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 48px;
}
footer img {
  vertical-align: middle;
}

ol h2 {
  margin-left: 35px;
  padding-left: 0;
}
